@import "tailwindcss";

@theme {
  --color-dark: #0f172a;
  --color-darker: #020617;
  --color-neonGreen: #22c55e;
  --color-neonYellow: #eab308;
  --color-neonGrey: #334155;
}

body {
  background-color: var(--color-darker);
  color: white;
}

.glass-panel {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
